#banner {

text-align: center;
padding: 4.5em 0 4.5em 0;
margin-bottom: 0;
}

#banner h2 {
    font-size: 4em;
}

#banner p {
    display: block;
    font-size: 1.5em;
    margin: 1em 0 2em 0;
    line-height: 1.5em;
    text-align: inherit;
}
.quotes {
  display: none;
  color: white;
}

.quotes p {
    margin-left: 170px;
}

#quotes {
    margin-top: 370px;
}
.about {
    background: url("/images/romatic-couple.jpg");
    height: 100%; 
    background-size: cover;
}

.footer {
    padding: 40px;
}

.footer h1 {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.about-background {
  margin-top: 0%;
  margin-left: -5%;
  height: 700px;
  width: 1472px;
  position: relative;
  background-repeat: repeat-x;
}
.white-box-about {
  background-color: white;
  opacity: 0.8;
  padding: 40px;
  margin-top: 20%;
}

.signup {
    margin-top: 20%;
}
#about {
    padding: 40px;
    margin-bottom: 40px;
    height: 400px;
}
#about header h1 {
    font-size: 3.5em;
    text-align: center;
}   
.user {
    background: url('../images/user-background-1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.find-clinic {
    width: 600px;
    text-align: center;
    border-radius: 2%;
    margin: auto;
    margin-top: 150px;
    color: black;
    background-color: #f8f8f8;
}
html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    height: 100%;
    background-color: #f8f8f8;
}
#main, #main>.row {
    height: 100%;
}   
#main>.row {
    overflow-y: scroll;
}
#left {
    height: 100%;
}
.panel-default {
    margin-right: 15px;
}
.panel-group {
    margin-bottom: 5px;
}
#map-canvas {
    width: 66.6666666%;
    height: 100%;
    position: absolute;
    right: 16px;
    top: 50px;
    bottom: 0;
    overflow: hidden;
}
.red {
    background-color: rgb(226, 0, 0);
    box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5), 0px 0px 3px 2px rgba(226, 0, 0, 0.5);
}
.orb {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    bottombottom: 0;
    margin-right: 10px;
}
.green {
    background-color: rgb(51, 204, 51);
    box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5), 0px 0px 3px 2px rgba(51, 204, 51, 0.5);
}
.grey {
    background-color: rgb(135, 135, 134);
    box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5), 0px 0px 3px 2px rgba(135, 135, 134, 0.5);
}
.inner-right {
    float: right;
}
.results {
    margin-left: auto;
    width: 30%;
    margin-right: auto;
}
.result-default > .result-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.result-body {
    background-color: #eee;
}
#result {
    margin-top: 5em;
    margin-right: auto;
    margin-left: auto;
    width: 940px;
}
.result-inner {
    margin: 40px;
}
.result-default {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;
}
.result-toggle {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
}
h5 {
    margin: 10px 0px;
    color: #FFF;
    text-decoration: none;
}
.result-heading:hover {
    background-color: #000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.result-heading > a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
.map-default > .map-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.map-body {
    background-color: #eee;
}
.map-default {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 15px;
}
.map-toggle {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
}
.panel-toggle > p {
    margin: 0px;
}
.map-heading:hover {
    background-color: #000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.map-heading > a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
#full {
    background: url("../images/header.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    text-align: center;
    color: #fff
}
#full .inner {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 4em 0 0 0;
    font-size: 14pt;
    line-height: 1.75em;
}
#full #user-show {
    padding-top: 2em;
    text-align: center;
}
.button {
    background: #df7366;
    font-size: 1.25em;
    line-height: 4.5em;
    height: 4.5em;
    width: 4.5em;
    border-radius: 100%;
    display: inline-block;
}
.navbar {
    margin-bottom: 0px;
    background: #fff;
    box-shadow: 0px 1px 1px 0px rgba(119, 119, 119, 0.51);
    -moz-box-shadow: 0px 1px 1px 0px rgba(119, 119, 119, 0.51);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(119, 119, 119, 0.51);
}
.indexsignup {
    background: transparent;
}
body {
    margin-top: 50px;
}
#health-number {
    width: 60%;
    margin: auto;
    background-color: #f8f8f8;
    color: black;
    margin-top: 150px;
}
.center {
    margin: 0 auto;
}
.inner-right {
    float: right;
}
.modal-content {
    width: 400px;
    margin: auto;
}
.modal-dialog-center {
    margin-top: 15%;
}
#no-scroll {
    overflow-y: scroll;
    height: 650px;
}
.form-group {
    margin-bottom: 5px;
}

.clinichubleftbar {
    margin-left: 5px;
}