<div class="accordion" id="accordionid">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionid" href="index.html#one">
                <h5>Result 1</h5>
            </a>
        </div>
        <div id="one" class="collapse">
            <div class="accordion-inner">
                <p>
                    You have herpes
                </p>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionid" href="index.html#two">
                <h5>Result 2</h5>
            </a>
        </div>
        <div id="two" class="collapse">
            <div class="accordion-inner">
                <p>
                    You have AIDs
                </p>
            </div>
        </div>
    </div>
</div>