<div id="header">   

    <!-- Inner -->
      <div class="inner">
        <header>
          
        </header>
        <footer>
          <h4> Find a Clinic</h4>
        </footer>
      </div>
    <!-- Nav -->
    <div id="navbar">
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </nav>
    </div>
</div>