<!-- Home -->
<section id="wrapper">
  <header id="theheader" style="opacity: 1">
    <h2>The easy way to share your sexual health information:<strong>(Project Name Here)</strong>.</h2>
    <!-- Add form for sign up here -->
  </header>

</section>

<!-- About -->
<div class="wrapper">



</div>

<!-- How It Works -->
<div class="wrapper">


</div>