<div id="full">
  <div class="jumbotron indexsignup">
    <div class="row signup">
      <div class="col-md-3 col-md-offset-3">
        <div>
          <h2 style="color: #fff; text-shadow: 1px 2px 2px black;">Welcome to Safebase</h2>
          <h3 style="color: #fff; text-shadow: 1px 2px 2px black;">Stay Safe With Your Partners</h3>
        </div>
        <form role="form" action="/signup" method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="fullname" name="name" placeholder="Full name" required="required" autofocus>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required">
          </div>
          
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
          </div>
          <button type="submit" class="btn btn-default btn-primary btn-default pull-right">Sign up for SafeBase</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="banner">
  <h2>SafeBase</h2>
</div>
<div class="row about">
<a name="about"></a>
  <div class="col-md-4 col-md-offset-1">
    <div class="white-box-about">
      <h1>About Us</h1>
      <h4>Safebase is the premier site to securely store and access your sexual health records online. We are dedicated to giving you the most convenient and confidential method to have your health history on hand when you need it. Safebase was built with the philosophy that sexual health is important for you and your partner.</h4>
      <h4>We make it safe and easy to share medical history with those you care about. No need to carry paper documents with you. After you get a check up your work is done. Our partnered medical clinics take care of submitting your exam results. It's that easy.</h4>
    <h4>At Safebase, we aim to make sexual health an important part of your life. By promoting a safe and responsible lifestyle you'll help in decreasing sexually transmitted infections. Join Safebase today and start to enjoy life without the worry.</h4></div>
  </div>
  <div class="col-md-4 col-md-offset-1" id="quotes">
    <h2 class="quotes">"Having my medical results anytime I need them has been invaluable. It gives me peace of mind that I never had before. Thanks Safebase!" <p>-John Ackerman</p></h2>
    <h2 class="quotes">"I had so much trouble proving to my partners that I was clean, all that changed after I started using Safebase. It was so easy to get setup!"<p>-Tommy Lee</p></h2>​
    <h2 class="quotes">"This changes everything. Again"<p>-Sean Rad</p></h2>
    <h2 class="quotes">"WOW! An incredible idea. This is the greatest thing since sliced bread"<br>-Mark Zuckerberg</h2>
  </div>
</div>
<div class="container footer">
<a name="contact"></a>
  <h1>Contact Us</h1>
  <div class="col-md-8">
    <form id="contact" method="post" class="form" role="form">
      <div class="row">
        <div class="col-xs-6 col-md-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
        </div>
        <div class="col-xs-6 col-md-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
        </div>
      </div>
      <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
      <br />
      <div class="row">
        <div class="col-xs-12 col-md-12 form-group">
          <button class="btn btn-primary pull-right" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <address>
      <strong>SafeBase, Inc.</strong><br>
      795 Folsom Ave, Suite 600<br>
      Vancouver, BC V7N C8G<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>

  </div>
</div>

<script>
(function() {
var quotes = $(".quotes");
var quoteIndex = -1;
function showNextQuote() {
++quoteIndex;
quotes.eq(quoteIndex % quotes.length)
.fadeIn(2000)
.delay(2000)
.fadeOut(5000, showNextQuote);
}
showNextQuote();
})();
</script>
