<div id="signup">
<h2>Sign Up For SafeBase</h2>
<form action='#' method='post'>  
  <div>
    <input type="text" name="name" placeholder="Full Name" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required">
  </div>
  <div>
    <input type="text" name="email" placeholder="Email" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required">
  </div>
  <div>
    <input type="text" name="health_care_number" placeholder="Health Care Number" pattern="^\d+$" required="required">
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required">
  </div>
  <div>
    <input type="submit" value="Sign Up">
  </div>
</form>
</div>